
*,
*:before,
*:after{
    font-family: "Poppins",sans-serif;
    font-size: 45px;
    font-weight: 500;
}

span{
    animation: spin_words 6s infinite;
}

@keyframes spin_words{
  10%{
      transform: translateY(-112%);
  }
  25%{
      transform: translateY(-100%);
  }
  35%{
      transform: translateY(-212%);
  }
  50%{
      transform: translateY(-200%);
  }
}